<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <title>Add Product</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/admin/css/main.css">

</head>
<body>
<div class="screen-overlay"></div>
<aside th:replace = "~{fragments::sidebar}"></aside>

<main class="main-wrap">
  <header th:replace="~{fragments::topbar}"></header>

  <div class="container-fluid">
    <form id="addProduct" class="form-horizontal" th:action="@{/save-product}" method="post" th:object = "${productDto}"
          enctype="multipart/form-data">
      <fieldset>
        <!-- Form Name -->
        <legend>ADD NEW PRODUCT</legend>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>
          <div class="col-md-4">
            <input id="product_name" th:field = "*{name}" name="product_name" class="form-control input-md"  type="text">
            <div class="error text-danger ms-2"></div>
          </div>

        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="brand">Brand Name</label>
          <div class="col-md-4">
            <input id="brand" th:field = "*{brand}" name="brand" class="form-control input-md"  type="text">
            <div class="error text-danger ms-2"></div>
          </div>

        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="product_categories">PRODUCT CATEGORY</label>
          <div class="col-md-4">
            <select id="product_categories" th:field = "*{category}" name="product_categories" class="form-control">
              <option th:value = "null">-SELECT-</option>
              <option th:each = "category : ${categories}"
                      th:value = "${category.id}"
                      th:text = "${category.name}">
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Sizes</label>
          <div class="col-md-4">
            <div th:each="size : ${sizes}">
              <input type="checkbox" name="sizes" th:field="*{sizes}"
                     th:id="'product_variation_' + ${size.id}"
                     th:name="'product_Variations'"
                     th:value="${size.id}" />
              <label th:for="'product_variation_' + ${size.id}" th:text="${size.name}"></label>
              <br/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Colors</label>
          <div class="col-md-4">
            <div th:each="color : ${colors}">
              <input type="checkbox" name="productVariations" th:field="*{colors}"
                     th:id="'product_variation_' + ${color.id}"
                     th:name="'product_Variations'"
                     th:value="${color.id}" />
              <label th:for="'product_variation_' + ${color.id}" th:text="${color.name}"></label>
              <br/>
            </div>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="shortDescription">Product Short Description</label>
          <div class="col-md-4">
            <input id="ShortDescription" th:field = "*{shortDescription}" name="shortDescription" class="form-control input-md"  type="text">
            <div class="error text-danger ms-2"></div>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="longDescription">Product Long Description</label>
          <div class="col-md-4">
            <input id="LongDescription" th:field = "*{longDescription}" name="longDescription" class="form-control input-md"  type="text">
            <div class="error text-danger ms-2"></div>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>
          <div class="col-md-4">
            <input id="available_quantity" th:field = "*{currentQuantity}" name="available_quantity" class="form-control input-md" type="text">
            <div class="error text-danger ms-2"></div>
          </div>

        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="price">PRICE</label>
          <div class="col-md-4">
            <input id="price" name="price" th:field = "*{costPrice}" class="form-control input-md" type="text">
            <div class="error text-danger ms-2"></div>
          </div>

        </div>
        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-4">
            <!-- File Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="image">PRODUCT IMAGE</label>
              <div class="col-md-4">
                <input id="image" name="imageProduct" class="input-file" type="file" multiple required>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </fieldset>
    </form>
  </div>
  </div>

</main>



<script>
  document.addEventListener('DOMContentLoaded', function() {
    const imageInput = document.getElementById('image');

    imageInput.addEventListener('change', function(event) {
      const selectedFiles = event.target.files;
      const minFiles = 4;
      const maxFiles = 4;

      if (selectedFiles.length < minFiles) {
        alert(`Please select at least ${minFiles} file.`);

        imageInput.value = '';
      } else if (selectedFiles.length > maxFiles) {
        alert(`You can only upload up to ${maxFiles} file.`);

        imageInput.value = '';
      }
    });
  });
</script>


<script src="../js/validation.js"></script>
<div th:replace = "~{fragments::script}"></div>
</body>
</html>