<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">

</head>
<body>
<main>
    <header class="main-header style-2 navbar">
        <div class="col-brand">
            <a th:href="@{/index}" class="brand-wrap">
                <img src="/imgs/theme/logo.png" class="logo" alt="Mangolia Trendz">
            </a>
        </div>
        <div class="col-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered !!</div>
            </div>
            <div class="card-body">
                <h4 class="card-title mb-4">Create an Account</h4>
                <form method="post" role="form" th:action="@{/register/save}">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control"
                               id="firstName"
                               name="firstName"
                               placeholder="Enter first name"

                               type="text"
                        />
<!--                        <p th:errors="*{firstName}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('firstName')}">-->
<!--                        </p>-->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control"
                               id="lastName"
                               name="lastName"
                               placeholder="Enter last name"

                               type="text"
                        />
<!--                        <p th:errors="*{lastName}" class="text-danger"-->
<!--                           th:if="${#fields.hasErrors('lastName')}">-->
<!--                        </p>-->
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" placeholder="Your email" type="text">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <label class="form-label">Phone</label>
                        <div class="row gx-2">
                            <div class="col-4"> <input class="form-control" value="+91" type="text"> </div>
                            <div class="col-8"> <input class="form-control" placeholder="Phone" type="text"> </div>
                        </div>
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <label class="form-label">Create password</label>
                        <input class="form-control" placeholder="Password" type="password">
                    </div> <!-- form-group// -->
                    <div class="mb-3">
                        <p class="small text-center text-muted">By signing up, you confirm that you’ve read and accepted our User Notice and Privacy Policy.</p>
                    </div> <!-- form-group  .// -->
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login </button>
                    </div> <!-- form-group// -->
                </form>
                <p class="text-center mb-2">Already have an account? <a href="#">Sign in now</a></p>
            </div>
        </div>
    </section>
    <footer class="main-footer text-center">
        <p class="font-xs">
            <script>
                document.write(new Date().getFullYear())
            </script> ©, Mangolia Trendz - Mens Clothing Brand .
        </p>
        <p class="font-xs mb-30">All rights reserved</p>
    </footer>


</main>

</body>
</html>