<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <title>Forgot-Password</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header th:replace="~{fragments::topbar}"></header>

<div th:replace="~{fragments::mobiletop}"></div>


<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Enter Email address and verify Otp</h3>
                                </div>
                                <div th:if="${error}">
                                    <div th:text="${error}" class="alert alert-danger"></div>
                                </div>
                                </div>

                                <form method="POST" th:action="@{/send-otp}">
                                    <div class="form-group">
                                        <input type="text" th:value="${param.username}"  name="username" placeholder="Your Email" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block hover-up">Send Otp</button>
                                    </div>
                                </form>
                                    <form method="POST" th:action="@{/verify-inputotp}">
                                        <div class="form-group">
                                            <input type="text"   name="inputedOtp" placeholder="Enter Otp" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up">Verify Otp</button>
                                        </div>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<footer th:replace="~{fragments::downbar}">

</footer>


    <div th:replace = "~{fragments::script}"></div>
</body>
</html>